html, body {
  font-family: sans-serif;
}

.main {
  text-align: center;
}

.footer {
  text-align: center;
}

.kitty.image {
  display: inline-block;
  min-width: 200px;
  min-height: 200px;
  width: 60%;
  padding-bottom: 20%;
  max-width: 400px;
  background: url(../images/icarus-kitty.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.feed {

}

.feed > .entry {
  border-radius: 12px;
  background: #CC9966;
  padding: 6px;
  margin-bottom: 12px;
}

.entry > .label {
  display: none;
}

.entry > .value {
  display: inline-block;
}

.label.day {
  display: inline-block;
}
.value.day {
  display: inline-block;
}

.value.date {
  display: none; /* Need to parse gsheets number as date */
}

.value.dow {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 120%;
}

.value.notes {
  display: block;
  border-radius: 6px;
  padding: 6px;
  background: rgba(255,255,255,0.6);
  font-style: italic;
}
