html, body {
  font-family: sans-serif;
}

.main {
  text-align: center;
}

.kitty.image {
  display: inline-block;
  min-width: 200px;
  min-height: 200px;
  width: 60%;
  padding-bottom: 20%;
  max-width: 400px;
  background: url(../images/icarus-kitty.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
